<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hide Tanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto_walker.css') }}">
    <style>
        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }
    </style>
</head>
<body>

    <h1>Hide Tanner</h1>

    <form method="post" action="{{ url_for('hide_tannery') }}" class="form-container" onsubmit="showMessage()">
        <div class="destination-input-container">
            <div id="messageContainer">
                <p>{{ message }}</p>
            </div>
            <label for="tanneryLocation" class="form-label">Tannery Location:</label>
            <select id="tanneryLocation" name="tanneryLocation" class="form-select">
                {% for place in places %}
                    <option value="{{ place }}">{{ place }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="form-button">Start</button>
    </form>

    <script>
        function showMessage() {
            // Change the visibility of the message container
            var messageContainer = document.getElementById('messageContainer');
            messageContainer.classList.remove('hidden');
            messageContainer.classList.add('visible');
        }
    </script>
</body>
</html>
