body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-label {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #090909;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
}

.form-button {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #609c7a;
    border: 1px solid #090909;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 20%;
}

.form-button:hover {
    background-color: #a9e9cb;
}